@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

$colors: (
  black: hsl(0, 0%, 4%),
  light-gray: hsl(0, 0%, 87%),
  white: hsl(0, 0%, 100%),
  gradient-1--orange: hsl(28, 100%, 79%),
  gradient-2--purple: hsl(329, 36%, 59%),
  gradient-3--blue: hsl(229, 100%, 67%),
);

@function get-color($color) {
  @return map-get($colors, $color);
}

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  color: get-color(black);
  font-size: 1.5rem;
  background: get-color(light-gray);
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 115rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.heading {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 5px;
  line-height: 1.1;
  margin-bottom: 3rem;
  max-width: 40rem;
}

.description {
  color: get-color(light-gray);
  max-width: 40rem;
  line-height: 1.6;
  margin-bottom: 5rem;

  &--dark {
    color: get-color(black);
    opacity: 0.7;
  }
}

.btn-invite-arrow {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  color: get-color(white);
  span {
    margin-right: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 1rem 0;
  }

  img {
    transition: transform 0.3s;
  }

  &:hover img {
    transform: translateX(20px);
  }

  &--dark {
    color: get-color(black);
  }

  &--footer {
    width: unset;
    max-width: unset;
  }
}

// navbar
.navbar {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7.2rem;
  }

  &__nav {
    display: flex;
    list-style: none;
  }

  &__nav-item {
    margin: 0 0.9rem;
  }
  &__nav-link {
    padding: 0.9rem;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
    font-size: 1.2rem;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      left: 9px;
      top: 100%;
      transition: 0.3s;
      background-color: get-color(black);
    }

    &:hover::before {
      width: calc(100% - 18px);
    }
  }

  &__btn-invite {
    color: get-color(white);
    background: get-color(black);
    padding: 12px 27px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
  }
}

// header
.hero {
  &__wrapper {
    min-height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &__col-text {
    grid-column: 1/4;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: get-color(black);

    @include m-q(990px) {
      grid-column: 1/5;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 5px;
      height: 50%;
      background-image: linear-gradient(
        get-color(gradient-3--blue),
        get-color(gradient-2--purple),
        get-color(gradient-1--orange)
      );
    }
  }

  &__heading {
    color: get-color(white);
  }

  &__col-photo {
    grid-column: 4/8;
    background: url(./images/home/desktop/create-and-share.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include m-q(990px) {
      grid-column: 5/8;
      background: url(./images/home/tablet/create-and-share.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.stories {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 60rem;
  }

  &__col-photo {
    @extend .hero__col-photo;

    grid-column: 1/5;
    background: url(./images/home/desktop/beautiful-stories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include m-q(990px) {
      grid-column: 1/4;
      background: url(./images/home/tablet/beautiful-stories.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--reverse {
      grid-column: 4/8;
      background: url(./images/home/desktop/designed-for-everyone.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;

      @include m-q(990px) {
        grid-column: 5/8;
        background: url(./images/home/tablet/designed-for-everyone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }

  &__col-text {
    @extend .hero__col-text;
    background: inherit;
    grid-column: 5/8;

    @include m-q(990px) {
      grid-column: 4/8;
    }

    &::before {
      display: none;
    }

    &--reverse {
      grid-column: 1/4;

      @include m-q(990px) {
        grid-column: 1/5;
      }
    }
  }
}

// stories-intro
.stories-intro {
  max-width: 144rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));

  &__link {
    position: relative;
    transition: 0.3s transform, 0.3s opacity;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      opacity: 0;
      transition: 0.3s transform, 0.3s opacity;
      background-image: linear-gradient(
        to right,
        get-color(gradient-1--orange),
        get-color(gradient-2--purple),
        get-color(gradient-3--blue)
      );
    }

    &:hover::after {
      opacity: 1;
      transform: translateY(5px);
    }

    &:hover {
      transform: translateY(-20px);
    }
  }

  &__img {
    filter: brightness(0.6);
    transition: 0.3s filter;
    width: 100%;

    &:hover {
      filter: brightness(0.9);
    }
  }

  &__caption {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 4rem 3rem;
    color: get-color(white);
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
  }

  &__author {
    font-size: 1.4rem;
  }

  &__btn {
    justify-content: space-between;
    padding-top: 1.2rem;
    margin-top: 2rem;
    border-top: 1px solid rgba(222, 222, 222, 0.5);
    max-width: inherit;
    span {
      letter-spacing: 2px;
    }
  }
}

// features-intro
.features-intro {
  padding: 12rem 0 7rem;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    column-gap: 3.8rem;
  }

  &__item {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
  }

  &__img-container {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.6rem;
  }

  &__heading {
    margin-bottom: 2.4rem;
  }

  &__description {
    max-width: 100%;
  }
}

.footer {
  background: get-color(black);
  min-height: 250px;
  padding: 6rem 0;

  &__wrapper {
    min-height: 13.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
  }

  &__col-1 {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__col-2 {
    grid-column: 2/3;
  }

  &__col-3 {
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__social-link {
    color: get-color(white);
    font-size: 2rem;
    margin-right: 1rem;
  }

  &__nav {
    color: get-color(white);
    flex-direction: column;

    @include m-q(850px) {
      flex-direction: row;
      position: absolute;
      left: 0;
      top: 30px;

      .navbar__nav-item:first-child {
        margin-left: 0;
      }

      .navbar__nav-link:first-child {
        padding-left: 0;
      }
    }
  }

  &__description {
    margin-bottom: 0;
  }
}
