@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

$colors: (
  black: hsl(0, 0%, 4%),
  light-gray: hsl(0, 0%, 87%),
  white: hsl(0, 0%, 100%),
  gradient-1--orange: hsl(28, 100%, 79%),
  gradient-2--purple: hsl(329, 36%, 59%),
  gradient-3--blue: hsl(229, 100%, 67%),
);

@function get-color($color) {
  @return map-get($colors, $color);
}

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  color: get-color(black);
  font-size: 1.5rem;
  background: get-color(light-gray);
  background: #f1f1f1;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 115rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.heading {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 5px;
  line-height: 1.1;
  margin-bottom: 3rem;
  max-width: 40rem;

  @include m-q(740px) {
    font-size: 3rem;
  }
  @include m-q(400px) {
    font-size: 2.4rem;
  }
}

.description {
  color: get-color(light-gray);
  max-width: 40rem;
  line-height: 1.6;
  margin-bottom: 5rem;

  &--dark {
    color: get-color(black);
    opacity: 0.7;
  }
}

.btn-invite-arrow {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  color: get-color(white);

  span {
    margin-right: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 1rem 0;
  }

  img {
    transition: transform 0.3s;
  }

  &--translated:hover img {
    transform: translateX(20px);
  }

  &--dark {
    color: get-color(black);
  }

  &--footer,
  &--invite-banner {
    width: unset;
    max-width: unset;
  }
}

// navbar
.navbar {
  background: get-color(light-gray);

  @include m-q(740px) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__site-link {
    width: 170px;
    flex-shrink: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7.2rem;
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    @include m-q(740px) {
      position: absolute;
      top: 72px;
      width: 100%;
      left: 0;
      background: get-color(light-gray);
      transform: translateX(-100%);
      flex-direction: column;
      justify-content: center;
      height: calc(50vh - 72px);

      &.active {
        transform: translateX(0);
      }
    }
  }

  &__nav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: auto;

    @include m-q(740px) {
      flex-direction: column;
      align-items: center;
      margin: unset;
    }
  }

  &__nav-item {
    margin: 0 0.9rem;
  }
  &__nav-link {
    padding: 0.9rem;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
    font-size: 1.2rem;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      left: 9px;
      top: 100%;
      transition: 0.3s;
      background-color: get-color(black);
    }

    &:hover::before {
      width: calc(100% - 18px);
    }
  }

  &__btn-invite {
    color: get-color(white);
    background: get-color(black);
    padding: 12px 27px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
  }

  &__nav-trigger {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    display: none;
    cursor: pointer;

    @include m-q(740px) {
      display: flex;
    }
  }
}

// header
.hero {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;

  @include m-q(740px) {
    margin-top: 7.2rem;
  }

  &__wrapper {
    min-height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    &--features-page,
    &--pricing-page {
      min-height: 490px;
    }

    @include m-q(740px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__col-text {
    grid-column: 1/4;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: get-color(black);

    @include m-q(990px) {
      grid-column: 1/5;
    }

    @include m-q(740px) {
      grid-row: 2/3;
      min-height: 40rem;
      padding: 2rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 5px;
      height: 50%;
      background-image: linear-gradient(
        get-color(gradient-3--blue),
        get-color(gradient-2--purple),
        get-color(gradient-1--orange)
      );

      @include m-q(440px) {
        width: 100px;
        left: 30px;
        top: 0;
        height: 5px;
        background-image: linear-gradient(
          to right,
          get-color(gradient-1--orange),
          get-color(gradient-2--purple),
          get-color(gradient-3--blue)
        );
      }
    }
  }

  &__heading {
    color: get-color(white);
    width: 100%;
  }

  &__col-photo {
    grid-column: 4/8;
    background: url(./images/home/desktop/create-and-share.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include m-q(990px) {
      grid-column: 5/8;
      background: url(./images/home/tablet/create-and-share.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    @include m-q(740px) {
      grid-row: 1/2;
      grid-column: 1/2;
      background: url(./images/home/mobile/create-and-share.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--features-page {
      background: url(./images/features/desktop/hero.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;

      @include m-q(990px) {
        grid-column: 5/8;
        background: url(./images/features/tablet/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
      }

      @include m-q(740px) {
        grid-row: 1/2;
        grid-column: 1/2;
        background: url(./images/features/mobile/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
      }
    }

    &--pricing-page {
      background: url(./images/pricing/desktop/hero.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include m-q(990px) {
        grid-column: 5/8;
        background: url(./images/pricing/tablet/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
      }

      @include m-q(740px) {
        grid-row: 1/2;
        grid-column: 1/2;
        background: url(./images/pricing/mobile/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

.stories {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 60rem;
  }

  &__col-photo {
    @extend .hero__col-photo;

    grid-column: 1/5;
    background: url(./images/home/desktop/beautiful-stories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include m-q(990px) {
      grid-column: 1/4;
      background: url(./images/home/tablet/beautiful-stories.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    @include m-q(740px) {
      grid-row: 1/2;
      grid-column: 1/8;
      min-height: 22rem;
      background: url(./images/home/mobile/beautiful-stories.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--reverse {
      grid-column: 4/8;
      background: url(./images/home/desktop/designed-for-everyone.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;

      @include m-q(990px) {
        grid-column: 5/8;
        background: url(./images/home/tablet/designed-for-everyone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      @include m-q(740px) {
        grid-row: 1/2;
        grid-column: 1/8;
        min-height: 22rem;
        background: url(./images/home/mobile/designed-for-everyone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
      }
    }
  }

  &__col-text {
    @extend .hero__col-text;
    background: inherit;
    grid-column: 5/8;

    @include m-q(990px) {
      grid-column: 4/8;
    }

    @include m-q(740px) {
      grid-row: 2/3;
      min-height: 40rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    @include m-q(740px) {
      grid-row: 2/3;
      grid-column: 1/8;
    }

    &::before {
      display: none;
    }

    &--reverse {
      grid-column: 1/4;

      @include m-q(990px) {
        grid-column: 1/5;
      }

      @include m-q(740px) {
        grid-row: 2/3;
        grid-column: 1/8;
      }
    }
  }
}

// stories-intro
.stories-intro {
  max-width: 144rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

  @include m-q(380px) {
    grid-template-columns: 1fr;
  }

  &__link {
    position: relative;
    transition: 0.3s transform, 0.3s opacity;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      opacity: 0;
      transition: 0.3s transform, 0.3s opacity;
      background-image: linear-gradient(
        to right,
        get-color(gradient-1--orange),
        get-color(gradient-2--purple),
        get-color(gradient-3--blue)
      );
    }

    &:hover::after {
      opacity: 1;
      transform: translateY(5px);
    }

    &:hover {
      transform: translateY(-20px);
    }

    &:hover img {
      filter: brightness(0.9);
    }
  }

  &__img {
    filter: brightness(0.6);
    transition: 0.3s filter;
    width: 100%;
  }

  &__caption {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 4rem 3rem;
    color: get-color(white);
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__author,
  &__date {
    font-size: 1.4rem;
  }

  &__btn {
    justify-content: space-between;
    padding-top: 1.2rem;
    margin-top: 2rem;
    border-top: 1px solid rgba(222, 222, 222, 0.5);
    max-width: inherit;
    span {
      letter-spacing: 2px;
    }
  }
}

// features-intro
.features-intro {
  padding: 12rem 0 7rem;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    column-gap: 3.8rem;

    @include m-q(380px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
  }

  &__img-container {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.6rem;
  }

  &__heading {
    margin-bottom: 2.4rem;
  }

  &__description {
    max-width: 100%;
  }
}

.footer {
  background: get-color(black);
  min-height: 250px;
  padding: 6rem 0;

  &__wrapper {
    min-height: 13.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;

    @include m-q(700px) {
      grid-template-columns: 1fr;
    }
  }

  &__col-1 {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include m-q(700px) {
      grid-column: 1/2;
      align-items: center;
      min-height: 6rem;
      margin-bottom: 3rem;
    }
  }

  &__col-2 {
    grid-column: 2/3;

    @include m-q(700px) {
      grid-column: 1/2;
      margin-bottom: 6rem;
    }
  }

  &__col-3 {
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @include m-q(700px) {
      grid-column: 1/2;
      align-items: center;
    }
  }

  &__social-link {
    color: get-color(white);
    font-size: 2rem;
    margin-right: 1rem;

    @include m-q(700px) {
      padding-top: 2rem;
      margin: 0 0.5rem;
    }
  }

  &__nav {
    color: get-color(white);
    flex-direction: column;

    @include m-q(850px) {
      flex-direction: row;
      position: absolute;
      left: 0;
      top: 30px;

      .navbar__nav-item:first-child {
        margin-left: 0;

        .navbar__nav-link {
          padding-left: 0;
        }
      }
    }

    @include m-q(700px) {
      flex-direction: column;
      position: unset;

      .navbar__nav-item:first-child {
        margin-left: 0.9rem;

        .navbar__nav-link {
          padding-left: 0.9rem;
        }
      }
    }
  }

  &__description {
    margin-bottom: 0;

    @include m-q(700px) {
      padding-top: 2rem;
    }
  }
}

// stories.html

// .stories-header
.stories-header {
  position: relative;

  @include m-q(740px) {
    margin-top: 7.2rem;
  }

  &__bg {
    background: url(./images/stories/desktop/moon-of-appalacia.jpg);
    min-height: 65rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include m-q(800px) {
      background: url(./images/stories/tablet/moon-of-appalacia.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @include m-q(740px) {
      min-height: 58.4rem;
    }

    @include m-q(600px) {
      min-height: 50rem;
    }

    @include m-q(440px) {
      min-height: 31.7rem;
    }

    @include m-q(400px) {
      min-height: 31.7rem;
      background: url(./images/stories/mobile/moon-of-appalacia.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include m-q(600px) {
      position: initial;
      background: get-color(black);
    }
  }

  &__content {
    padding: 10.1rem 5rem;
    max-width: 144rem;
    margin: 0 auto;

    @include m-q(600px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    @include m-q(400px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__heading-intro {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: get-color(white);
    margin-bottom: 3rem;
  }

  &__description {
    margin-bottom: 3rem;
  }

  &__date {
    font-size: 1.3rem;
  }

  &__author {
    font-size: 1.3rem;
    color: get-color(white);
  }
}

// features.html
.invite-banner {
  min-height: 28rem;
  max-width: 144rem;
  margin: 0 auto;
  background: url(./images/shared/desktop/bg-beta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;

  @include m-q(768px) {
    background: url(./images/shared/tablet/bg-beta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include m-q(375px) {
    background: url(./images/shared/mobile/bg-beta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background-image: linear-gradient(
      get-color(gradient-3--blue),
      get-color(gradient-2--purple),
      get-color(gradient-1--orange)
    );
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include m-q(700px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__heading {
    color: get-color(white);
    max-width: 42rem;
  }
}

// pricing.html
.pricing-plans {
  padding: 12rem 0 16rem;

  &__checkbox-wrapper {
    margin-bottom: 4rem;
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }

  &__label {
    font-weight: 700;
    font-size: 1.8rem;
    color: #797979;
  }

  &__label-montlhy {
    margin-right: 1rem;
    transition: 0.3s color cubic-bezier(0.075, 0.82, 0.165, 1);

    &.active {
      color: get-color(black);
    }
  }

  &__label-yearly {
    margin-left: 1rem;
    transition: 0.3s color cubic-bezier(0.075, 0.82, 0.165, 1);
    &.active {
      color: get-color(black);
    }
  }

  &__checkbox {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    appearance: none;
    background: get-color(light-gray);
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
    cursor: pointer;

    &:checked {
      background: get-color(black);
    }

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: get-color(black);
      left: 5px;
      top: 5px;
      border-radius: 50%;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:checked::before {
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: translateX(30px);
      background: get-color(white);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;

    @include m-q(1170px) {
      grid-template-columns: 1fr;
      padding: 0 10rem;
    }
    @include m-q(840px) {
      padding: 0;
    }
  }

  &__item {
    background: get-color(light-gray);
    margin: 3rem 0;
    padding: 5rem 4rem 4rem;
    text-align: center;
    position: relative;

    @include m-q(1170px) {
      padding: 4rem;
      text-align: left;
    }

    @include m-q(600px) {
      text-align: center;
    }

    &--pro {
      background: get-color(black);
      margin: 0;
      padding-top: 8rem;

      @include m-q(1170px) {
        padding: 4rem;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 5px;
        background-image: linear-gradient(
          to right,
          get-color(gradient-1--orange),
          get-color(gradient-2--purple),
          get-color(gradient-3--blue)
        );

        @include m-q(1170px) {
          width: 5px;
          left: 0;
          top: 0;
          height: 100%;
          background-image: linear-gradient(
            get-color(gradient-3--blue),
            get-color(gradient-2--purple),
            get-color(gradient-1--orange)
          );
        }

        @include m-q(600px) {
          left: 0;
          top: 0;
          width: 100%;
          height: 5px;
          background-image: linear-gradient(
            to right,
            get-color(gradient-1--orange),
            get-color(gradient-2--purple),
            get-color(gradient-3--blue)
          );
        }
      }
    }
  }

  &__title {
    font-size: 2.6rem;
    margin-bottom: 2rem;

    @include m-q(1170px) {
      max-width: 27rem;
    }

    @include m-q(600px) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    &--pro {
      color: get-color(white);
    }
  }

  &__description {
    color: #797979;
    margin-bottom: 3rem;

    @include m-q(1170px) {
      max-width: 27rem;
    }

    @include m-q(600px) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__price-wrapper {
    @include m-q(1170px) {
      position: absolute;
      right: 4rem;
      top: 4rem;
      text-align: right;
    }

    @include m-q(600px) {
      position: static;
      text-align: center;
    }
  }

  &__price {
    font-size: 4rem;
    letter-spacing: 1px;

    @include m-q(375px) {
      font-size: 2.6rem;
    }

    &--pro {
      color: get-color(white);
    }
  }

  &__price-description {
    display: block;
    color: #797979;
    margin-bottom: 4rem;
  }

  &__plan-btn {
    width: 100%;
    padding: 1.3rem;
    background: get-color(black);
    color: get-color(white);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;

    @include m-q(1170px) {
      max-width: 27rem;
      text-align: center;
    }

    &--pro {
      background: get-color(white);
      color: get-color(black);
    }
  }
}

.plans-comparison {
  margin-bottom: 10rem;

  &__heading {
    text-align: center;
    max-width: 100%;
  }

  &__wrapper {
    max-width: 80rem;
    width: 100%;
    margin: auto;

    @include m-q(740px) {
      max-width: 40rem;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 2.5rem 0;
    border-bottom: 1px solid;
    border-color: get-color(light-gray);

    &:first-child {
      border-color: get-color(black);

      @include m-q(740px) {
        padding-bottom: 1rem;

        .plans-comparison__feature:nth-child(2) {
          display: none;
        }

        .plans-comparison__feature:nth-child(3) {
          display: none;
        }

        .plans-comparison__feature:nth-child(4) {
          display: none;
        }
      }
    }
  }

  &__feature {
    padding: 0.5rem 2rem;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;

    @include m-q(740px) {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:nth-child(2) {
        grid-column: 1/3;
      }
      &:nth-child(3) {
        grid-column: 3/5;
      }
      &:nth-child(4) {
        grid-column: 5/7;
      }
    }

    &:first-child {
      grid-column: 1/4;
      text-align: left;
      margin: unset;

      @include m-q(740px) {
        justify-self: flex-start;
        grid-column: 1/7;
        margin-bottom: 2rem;
      }
    }

    span {
      display: none;

      @include m-q(740px) {
        display: block;
        padding-bottom: 1rem;
        color: #797979;
      }
    }
  }
}
